.banner {
	width: 100%;
	@media (min-width: $md1+px) {
		margin-top: 32px;
	}
	@media (min-width: $md2+px) {
		margin-top: 22px;
	}
	margin-top: 0;
	&__swiper {
		position: relative;
		display: flex;
		justify-content: center;
		& .swiper-wrapper {
		}
		& .swiper-slide {
			opacity: 0 !important;
			&-active {
				opacity: 1 !important;
			}
		}
		& .pagination-container {
			position: absolute;
			@media (min-width: $md2+px) {
				bottom: auto;
			}
			bottom: 0;
			width: 100%;
		}
		& .swiper-pagination {
			position: absolute;
			@media (min-width: $md1+px) {
				top: 38px;
			}
			@media (min-width: $md2+px) {
				top: 28px;
				right: 0;
				bottom: auto;
			}
			@media (min-width: $md3+px) {
				bottom: 215px;
			}
			bottom: 120px;
			& .swiper-pagination-bullet {
				transition: background-color 0.4s linear;
				@media (min-width: $md1+px) {
					width: 20px;
					height: 20px;
					margin-right: 30px;
				}
				@media (min-width: $md2+px) {
					width: 14px;
					height: 14px;
					margin-right: 20px;
					background-color: $colorLight;
				}
				@media (min-width: $md3+px) {
					width: 25px;
					height: 25px;
					margin-right: 30px;
				}
				margin-right: 13px;
				&-active {
					@media (min-width: $md2+px) {
						background-color: $colorText;
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $md1+px) {
			min-height: 546px;
		}
		@media (min-width: $md2+px) {
			min-height: 382px;
		}
		@media (min-width: $md3+px) {
			min-height: 936px;
		}
		min-height: 542px;
	}

	&__title {
		font-size: 80/25 + em;
		font-weight: 900;
		line-height: calc(100 / 80);
		@media (min-width: $md1+px) {
			font-size: 80px;
			margin-top: 88px;
		}
		@media (min-width: $md2+px) {
			font-size: 56px;
			max-width: 1000px;
			margin-top: 65px;
		}
		@media (min-width: $md3+px) {
			font-size: 50px;
			margin-top: 130px;
		}
		font-size: 30px;
		@include adaptiv-value('max-width', 472, 570, 283, $md3, $minWidth, px);
		margin-top: 60px;
	}

	&__text {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		font-weight: 600;
		line-height: calc(32.5 / 25);
		@media (min-width: $md1+px) {
			font-size: 25px;
			max-width: 658px;
			margin-top: 66px;
		}
		@media (min-width: $md2+px) {
			max-width: 466px;
			margin-top: 40px;
			font-size: 18px;
		}
		@media (min-width: $md3+px) {
			margin-top: 80px;
			font-size: 20px;
		}
		font-size: 14px;
		@include adaptiv-value('max-width', 314, 570, 229, $md3, $minWidth, px);
		margin-top: 30px;
	}

	&__last-paragraph {
		@media (max-width: $md2+px) {
			max-width: 228px;
		}
		@media (max-width: $md3+px) {
			max-width: 147px;
		}
	}

	&__button {
		z-index: 1;
		margin-top: 20px;
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 60%;
		@media (max-width: $md2+px) {
			width: 569px;
		}
		@media (max-width: $md3+px) {
			width: 290px;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		@media (min-width: $md1+px) {
			width: 899.11px;
		}
		@media (min-width: $md2+px) {
			width: 636.65px;
		}
		@media (max-width: $md2+px) {
			top: 238.57px;
			width: 713.38px;
			// height: 614.65px;
		}
		@media (max-width: $md3+px) {
			top: 158px;
			width: 439px;
		}
	}
}
