.categories {
	z-index: 1;
	width: 100%;
	@media (min-width: $md1+px) {
		margin-top: 276px;
	}
	@media (min-width: $md2+px) {
		margin-top: 201px;
	}
	margin-top: 70px;
	&__container {
		@media (max-width: $md2+px) {
			max-width: 460px;
		}
	}

	&__title {
	}

	&__body {
		margin-top: 60px;
	}

	&__category {
	}
}
.category {
	transition: transform 0.4s ease-in-out;
	position: relative;
	@media (min-width: $md1+px) {
		padding: 0 35.5px;
		border-radius: 20px;
	}
	@media (min-width: $md2+px) {
		padding: 0 23.5px;
		border-radius: 14px;
	}
	@media (min-width: $md3+px) {
		padding: 0 40px;
		border-radius: 12px;
	}
	box-shadow: 0 0 30px #{$colorTextGray + '30'};
	background-color: $colorLight;

	&.swiper-slide:not(.swiper-slide-active) {
		@media (max-width: $md2+px) {
			transform: scaleX(0.74) scaleY(0.93);
		}
	}

	&__body {
		display: grid;
		@media (min-width: $md1+px) {
			grid-template-rows: 1fr auto 145px;
			height: 539px;
		}
		@media (min-width: $md2+px) {
			grid-template-rows: 1fr auto 104px;
			height: 381px;
		}
		@media (min-width: $md3+px) {
			grid-template-rows: 1fr auto 104px;
			height: 442px;
		}
	}

	&__image {
		align-self: center;
		justify-self: center;
		text-align: center;
		@media (min-width: $md1+px) {
			width: 235px;
			height: 295px;
		}
		@media (min-width: $md2+px) {
			width: 203px;
			height: 196px;
		}
		@media (min-width: $md3+px) {
			width: 340px;
			height: 345px;
		}
	}

	&__img {
		position: relative;
		top: 50%;
		transition: transform 0.3s ease-in-out;
		max-width: 100%;
		max-height: 100%;
		transform: translateY(-50%);
	}

	&__name {
		transition: all 0.3s ease-in-out;
		position: relative;
		font-weight: 700;
		text-align: center;
	}

	&__btn {
		align-self: flex-end;
	}

	&__button {
		transition: opacity 0.3s linear;
		opacity: 0;
		visibility: hidden;
		font-size: 1em;
		width: 100%;
		@media (min-width: $md1+px) {
			margin-bottom: 65px;
			padding: 15px;
		}
		@media (min-width: $md2+px) {
			margin-bottom: 46px;
			padding: 10.5px;
		}
	}
	@media (hover: hover) and (min-width: $md2+px) {
		&:hover {
			& ._button {
				opacity: 1;
				visibility: visible;
			}
			& .category__name {
				@media (min-width: $md1+px) {
					transform: translateY(-30px);
				}
				@media (min-width: $md2+px) {
					transform: translateY(-15px);
				}
				font-size: 30/25 + em;
			}
			& .category__img {
				@media (min-width: $md1+px) {
					transform: translateY(calc(-79px - 50%));
				}
				@media (min-width: $md2+px) {
					transform: translateY(calc(-57px - 50%));
				}
			}
		}
	}
	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
