.goods {
	width: 100%;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__title {
		text-align: right;
	}

	&__description {
		text-align: right;
		max-width: 1107px;
	}

	&__body {
	}

	&__card {
	}
	&__all {
	}
}
.goods-card {
	&__select {
	}

	&__image {
	}

	&__img {
	}

	&__about {
	}

	&__rating {
	}

	&__stars {
	}

	&__caption {
	}

	&__grade {
	}

	&__count-of-reviews {
	}

	&__strength {
	}

	&__characters {
	}

	&__character {
	}

	&__name-of-character {
	}

	&__scale {
	}

	&__name {
	}

	&__description {
	}

	&__price {
	}

	&__old-price {
	}

	&__new-price {
	}

	&__button-box {
	}

	&__button {
	}
}
