.goods {
	width: 100%;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__title {
		text-align: right;
		margin: 90px 0 50px 0;
	}

	&__description {
		line-height: (32/25);
		text-align: right;
		margin-bottom: 80px;
	}

	&__body {
		display: flex;
	}

	&__card {
	}

	&__all {
	}
}
.goods-card {
	display: grid;
	grid-template-columns: auto auto auto;
	width: 400px;
	padding: 21px 37px 50px 38px;
	&__select {
		grid-column: 3 / 4;
		margin-bottom: 40px;
	}

	&__image {
		grid-column: 1 / 3;
		width: 172px;
		margin-right: 19px;
	}

	&__img {
		max-width: 100%;
	}

	&__about {
		grid-column: 3 / 4;
	}

	&__rating {
	}

	&__stars {
		margin-bottom: 8px;
		& span {
			color: $colorTextLight;
			&._active {
				color: $colorBright;
			}
		}
	}

	&__caption {
	}

	&__grade {
		font-size: 20/25 + em;
		font-weight: 700;
		line-height: (24/20);
	}

	&__count-of-reviews {
		font-size: 14/25 + em;
		font-weight: 500;
		line-height: (16/14);
	}

	&__strength {
		display: flex;
		column-gap: 8px;
		margin: 28px 0 30px 0;
		& span {
			color: $colorTextGray;
			width: 19px;
			height: 19px;
		}
	}

	&__characters {
	}

	&__character {
	}

	&__name-of-character {
		font-size: 18/25 + em;
		line-height: (21/18);
	}

	&__scale {
		display: flex;
		column-gap: 3px;
		margin: 10px 0 15px 0;
		& ._circle {
			display: inline-block;
			width: 10px;
			height: 10px;
			background-color: $colorTextLight;
			border-radius: 50%;
			&._active {
				background-color: $colorBright;
			}
		}
	}

	&__name {
		grid-column: 1 / 4;
		font-weight: 900;
		line-height: (31/25);
		margin: 36px 0 10px 0;
	}

	&__description {
		grid-column: 1 / 4;
		font-size: 18/25 + em;
		line-height: (21/18);
		margin-bottom: 8px;
	}

	&__price {
		grid-column: 1 / 2;
		display: flex;
		flex-direction: column;
	}

	&__old-price {
		color: $colorTextLight;
		text-decoration: line-through;
		line-height: (29/25);
	}

	&__new-price {
		font-size: 35/25 + em;
		font-weight: 900;
		line-height: (44/35);
	}

	&__button-box {
		grid-column: 2 / 4;
		align-self: end;
		justify-self: end;
	}

	&__button {
		font-size: 18/25 + em;
		font-weight: 700;
		line-height: (22/18);
		padding: 13px 46px 13px 47px;
		margin-right: 5px;
	}
}
