.header {
	z-index: 100;
	position: fixed;
	width: 100%;
	transition: background-color 0.5s ease;
	@media (min-width: $md2+px) {
		&:hover {
			background-color: $colorLight;
		}
	}
	@media (max-width: $md2+px) {
		background-color: $colorLight;
	}

	&__wrapper {
	}

	&__container {
		width: 100%;
	}

	&__body {
		display: flex;
		align-items: center;
		@media (min-width: $md1+px) {
			min-height: 160px;
		}
		@media (min-width: $md2+px) {
			min-height: 113px;
		}
		@media (min-width: $md3+px) {
			min-height: 143px;
		}
		min-height: 70px;
	}

	&__logo-wrapper {
		flex-grow: 1;
		z-index: 1;
	}

	&__logo {
		@media (min-width: $md1+px) {
			width: 260px;
		}
		@media (min-width: $md2+px) {
			width: 179px;
		}
		@media (min-width: $md3+px) {
			width: 225px;
		}
		width: 110px;
	}

	&__burger {
		cursor: pointer;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		width: 59px;
		height: 30px;
		margin-right: 89px;
		@media (min-width: $md2+px) {
			display: none;
		}
		@media (max-width: $md3+px) {
			transform: scale(0.5) translate(-50%);
			margin-right: -7.5px;
		}
		&::before,
		&::after,
		& span {
			position: relative;
			content: '';
			width: 59px;
			height: 3px;
			background-color: $colorText;
			transition: all 0.4s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		& span {
		}
		&._active {
			&::before {
				top: 18px;
				transform: rotate(45deg) translate(-7px);
			}
			&::after {
				bottom: 18px;
				transform: rotate(-45deg) translate(-7px);
			}
			& span {
				width: 0;
			}
		}
	}

	&__menu {
		flex-grow: 1;
		transition: left 0.5s ease-out;
		@media (max-width: $md2 + px) {
			position: absolute;
			top: 0;
			background-color: $colorLight;
			width: 100vw;
			left: -100vw;
		}
		&._active {
			left: 0;
		}
	}

	&__menu-list {
		display: flex;
		align-items: flex-start;
		column-gap: 100px;
		height: 100%;
		@media (max-width: $md2 + px) {
			flex-direction: column;
		}
	}

	&__menu-item {
		@media (max-width: $md2+px) {
			padding: 10px 0;
		}
	}

	&__activities {
		z-index: 1;
		display: flex;
		align-items: center;
		@media (min-width: $md1+px) {
			column-gap: 53px;
		}
		@media (min-width: $md2+px) {
			column-gap: 40px;
		}
		@media (min-width: $md3+px) {
			column-gap: 60px;
		}
		column-gap: 30px;
		& [class^='_icon-'] {
			font-size: (34/25) + em;
			line-height: 1;
		}
	}
}

a {
}
