@import 'mixins';
@import 'fonts';

$fontFamily: 'Gilroy';
$minWidth: 375;
$maxWidth: 1904;
$maxWidthContainer: 1660;
$md1: $maxWidthContainer + 39.95;
$md2: 1219.95;
$md3: 739.95;

@import 'customize';
@import 'null';
@import 'icons';

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: $maxWidth + px;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	&._loaded {
	}
	&__background {
		position: absolute;
		@media (min-width: $maxWidth+px) {
			right: -734px;
		}
		@media (min-width: $md1+px) {
			top: -278px;
			right: calc((100vw - 1904px) / 2 - 734px);
			width: 1444px;
		}
		@media (min-width: $md2+px) {
			top: -196px;
			right: calc((100vw - 1349px) / 2 - 517px);
			width: 1020px;
		}
		@media (min-width: $md3+px) {
			top: 40px;
			right: calc((100vw - 768px) / 2 - 440px);
			width: 758px;
		}
		top: 16px;
		right: -320px;
		right: calc((100vw - 375px) / 2 - 320px);
		width: 462px;
	}
}

.page {
	min-width: 0;
	min-height: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex: 1 1 auto;
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;

	@media (max-width: $md1+px) {
		max-width: $md2 - 39.95 + px;
	}
	@media (max-width: $md2+px) {
		max-width: $md3 - 39.95 + px;
	}
	@media (max-width: $md3+px) {
		max-width: $minWidth - 35 + px;
	}
}

@import 'functions';
@import 'header';

@import 'blocks/banner.scss';
@import 'blocks/category.scss';

@import 'footer';
